{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'web_client/style.css' %}">

<div class="nav-bar">
  <a href="/python_web_client/">QUERY TEST</a>
  <a href="/python_web_client/mutation" class="right-item">MUTACI&Oacute;N</a>
</div>
<div>
  <h1 class="title">
    Python Web Client - Mutaci&oacute;n
  </h1>
  <div class="form">
    <form action="/python_web_client/mutation/" method="post">
      <div class="field-container">
        <label for="clientsTotal" class="label">Clientes a crear</label>
        <div>
          <input id="clientsTotal" name="clientsTotal" type="text" class="input-text" value="{{form.clientsTotal.value}}" />
        </div>
      </div>
      <div class="field-container">
        <label for="serverType" class="label">Servidor</label>
        <div>
          <select id="serverType" name="serverType" class="select">
            <option value="JS" {% if form.serverType.value == 'JS' %} selected {% endif %}>JavaScript</option>
            <option value="PYTHON" {% if form.serverType.value == 'PYTHON' %} selected {% endif %}>Python</option>
            <option value="GO" {% if form.serverType.value == 'GO' %} selected {% endif %}>Go</option>
          </select>
        </div>
      </div>
      <div class="button-container">
        {% if formValid == False %}
        <div class="warning-message">El formulario no es v&aacute;lido</div>
        {% endif %}
        {% if showQueryingMessage == True %}
        <div class="warning-message">Consulta en progreso</div>
        {% endif %}
        <input id="submitButton" type="submit" class="button" value="CREAR" />
      </div>
    </form>
  </div>
  <div class="tests-container">
    <div class="header">
      <div class="server">
        SERVIDOR
      </div>
      <div class="first">
        CLIENTES
      </div>
      <div class="time">
        TIEMPO (segundos)
      </div>
    </div>
    <div id="testsList" class="tests-list">
      {% for test in tests %}
      <div class="row">
        <div class="server">
          {{ test.serverName }}
        </div>
        <div class="first">
          {{ test.clientsTotal }}
        </div>
        <div class="time">
          {% if test.time is not None %}
          {{test.time}}
          {% else %}
          En progreso...
          {% endif %}
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
